html,
body {
  padding: 0;
  margin: 0 auto;
  max-width: 50em;
  font-family: "objektiv-mk1", "Futura", "Helvetica", sans-serif;
  font-weight: 200;
  letter-spacing: 0.05em;
  line-height: 1.5;
  padding: 4em 1em;
  -webkit-font-smoothing: antialiased;
  color: #555;
  background: #eadac0;
}

h1,
h2,
strong {
  color: #333;
}

h2 {
  margin-top: 1em;
  padding-top: 1em;
}

a {
  color: #dd4f23;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.page-content {
  text-align: center;
  padding-top: 5em;
}
